<!doctype html>
<html>
  <head>
    <title>About <%=appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About</h1>
    <p>Welcome to <strong>In Tune with Music Theory!</strong></p>
    <p>This app is designed to help you practise key music theory concepts through interactive flashcards.</p>
    <p>Perfect for students taking theory exams or anyone simply interested in learning music theory :) </p>
    <p>Features:</p>
    <ul>
      <li>Explore questions on topics like Intervals, Cadences, and more.</li>
      <li>Use the search feature to quickly find specific questions and answers across different topics.</li>
      <li>Submit your answers to questions and receive instant feedback to help you understand your progress.</li>
    </ul>
    <a href="/">Back to Home</a>
  </body>
</html>