<!doctype html>
<html>
  <head>
    <title><%=appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=appName%></h1>
    <p><a href="about">About</a></p>
    <p><a href="topics">Topics</a></p>
    <p><a href="search">Search</a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="list">List flashcards</a></p>
  </body>
</html>
